<h1>Stupid Coaching</h1>


<div class='card'>
  <%= params[:question] %>
  <p>- You</p>
</div>

<div class='card answer'>
  <strong><%= @answer %></strong>
  <p>- Your Coach</p>
</div>

<%= link_to 'Ask a new question', ask_path %>
