// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Open Sans', sans-serif;
}

.card {
  padding: 8px;
  box-shadow: -8px 0px 0px lightgray;
  margin: 16px;
}

.answer {
  background-color: #FFFEE1;
}
